html {
  background-color: #2e2e2e;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
  margin-top:2rem;
  color:white;
  text-align: center;
  font-size: 2rem;
  animation-name: rotatey 0.4s ease-in-out;
}
main {
  list-style: none;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  max-width:40em;
  margin: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type:none;
}

.key {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  animation-name: rotatey 0.4s ease-in-out;
}

.playing {
  transform: scale(2);
  border-color: #F16562;
  color:#F16562;
}

kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #F16562;
}

img{
  transition: all 0.4s ease-in-out;
  display: block;
  width:50px;
  margin:auto;
}
img:hover{
  transform: rotatey(180deg);
}

@keyframes rotatey {
  to {
    transform: rotatey(180deg);
  }
}

@media(max-width:30em){
  .key{
    display: block;
    margin: auto;
  }
}
